*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #ffffff;
} 
main{
width: 364px;
height: 640px;
background-color: #17171C;
}
.number1 {
margin: 0px;
color: #FFFFFF;
width: 324px;
font-size: 40px;
/* display: flex; */
}
.number2 {
color: #FFFFFF;
width: 324px;
font-size: 96px;
margin-top: 16px;
/* display: flex; */
}