*,
*::before,
*::after {
    box-sizing: border-box;
}
/* body {
    font-family: 'Work Sans', sans-serif;
} */

.calculator {
    width: 364px;
    height: 640px;
    background-color: #17171c;
    color: white;
    padding: 20px;
    margin: 50px auto;
}

.calc {
    width: 324px;
    height: 599px;
}

.operation {
    width: 324px;
    height: 47px;
    font-size: 40px;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
}

.result {
    width: 324px;
    height: 96px;
    font-size: 96px;
    margin: 0;
    margin-top: 16px;
    display: flex;
    flex-direction: row-reverse;
}

.but {
    width: 69px;
    height: 72px;
    background-color: #2E2F38;
    border-radius: 24px;
    font-size: 32px;
}

.buttons {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 16px;
}

.but.zero {
    width: 238.33px;
}

.but.cl-blue {
    background-color: #4B5EFC;
}

.but.cl-grey {
    background-color: #4E505F;
    width: 153.33px;
}

but:active {
    filter: brightness(100%);
}

.but:hover {
    filter: brightness(150%);
}

.row {
    width: 324px;
    margin-top: 12px;
}

.but.delete {
    margin-left: 12px;
}

.but.division {
    margin-left: 12px;
}

.but.eight {
    margin-left: 12px;
}

.but.nine {
    margin-left: 12px;
}

.but.multiply {
    margin-left: 12px;
}

.but.five {
    margin-left: 12px;
}

.but.six {
    margin-left: 12px;
}

.but.minus {
    margin-left: 12px;
}

.but.two {
    margin-left: 12px;
}

.but.three {
    margin-left: 12px;
}

.but.plus {
    margin-left: 12px;
}

.but.equal {
    margin-left: 12px;
}