*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #ffffff;
} 
main{
width: 364px;
height: 640px;
background-color: #17171C;
}
.number1 {
margin: 0px;
color: #FFFFFF;
width: 324px;
font-size: 40px;
margin: 16px 20px 0 20px;
}
.number2 {
color: #FFFFFF;
width: 324px;
font-size: 96px;
margin: 16px 20px 0 20px;
}
div{
    width: 324px;
    margin: 16px 20px 0 20px;
}
.reset{
    background-color: #4E505F;
    border-radius: 24px;
    width: 153.33px;
    height: 72px;
    margin-left: 0;
}
.symbol{
    color: #ffffff;
    font-size: 32px;
    margin: 0;
}
.sbutton{
    background-color: #2E2F38;
    border-radius: 24px;
    width: 69px;
    height: 72px;
    margin-left: 10px;
}
.abutton{
    background-color: #4B5EFC;
    border-radius: 24px;
    width: 69px;
    height: 72px;
    margin-left: 10px;
}